*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes blink {
    0% {
        background-color: var(--opaque-1);
    }
    50%{
        background-color: var(--opaque-2);
    }
    100% {
        background-color: var(--opaque-1);
    }
}

@keyframes polygon {
    0% {
        clip-path: polygon(0 0, 100% 0%, 100% 80px, 25% 80px, 0 80px);
    }
    50%{
        clip-path: polygon(0 0, 100% 0%, 100% 40%, 25% 70%, 0 40%);
    }
    100% {
        height: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%, 0 100%);
    }
}

@keyframes opacity{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeRightin{
    0% {
      transform: translate3d(40%, 0, 0);
    }
    100% {
      transform: translateZ(0);
    }
}


:root{
    --opaque-1 : rgba(255, 255, 255, 0.2);
    --opaque-2 : rgba(255, 255, 255, 0.5);
    --black-bg : #181818;
    --cover-bg : rgba(0,0,0,.6);
    --dark-grey : #2c2c2c;
    --light-grey : #505050;
    --very-light-grey : #f1f1f1;
    --grey : #c7c7c7;
    --white-bg : white;
    --red-bg : #D13639;
}

body{
    height: 200vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    width: 0px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.ff{
    font-family: Arial, Helvetica, sans-serif;
}

.cursor{
    cursor: pointer;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon{
    height: 26px;
    width: 26px;
    background-image: url("./riot/svg/iconWhite.svg");
}


    .logo{
        gap: 10px;
    }
        .logo:hover > .logo-1{
            background-image: url("./riot/svg/logoRed.svg");
        }
        .logo:hover > .logo-2{
            background-image: url("./riot/svg/arrowDownRed.svg");
        }
        .logo:hover > .logo-2{
            transform: rotate(0deg);
            transition: transform .5s linear;
        }


        .logo-1{
            width: 95px;
            height: 24px;
        }
            .logo-1-w{
                background-image: url("./riot/svg/logoWhite.svg");
            }
            .logo-1-d{
                background-image: url("./riot/svg/logoBlack.svg");
            }


        .logo-2{
            width: 10px;
            height: 10px;
            transform: rotate(180deg);
        }
            .logo-2-w{
                background-image: url("./riot/svg/arrowDownWhite.svg");
            }
            .logo-2-d{
                background-image: url("./riot/svg/arrowDownBlack.svg");
            }


.links{
    height: 100%;
}
    .links:hover > .link{
        animation: blink 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        box-shadow: 0px 4px 16px 0px var(--dark-grey);
    }
    .links:hover > .link > .link-img{
        transform: rotate(0deg);
        transition: transform .5s linear;
    }


    .link{
        gap: 10px;
        padding: 10px 16px;
        border-radius: 5px;
        justify-content: space-between;
    }
        .link-text{
            color: var(--white-bg);
            font-size: 13px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: .08em;
            text-transform: uppercase;
        }
        .link-img{
            margin-bottom: 1px;
            transform: rotate(180deg);
        }


        .hidden-links{
            display: none;
            position: absolute;
            top: 76px;
            background-color: var(--dark-grey);
            box-shadow: 0px 4px 16px 0px var(--dark-grey);
            border-radius: 0 0 2px 2px;
            width: 200px;
            padding-bottom: 12px;
        }
            .banner{
                width: 100%;
                height: 4px;
                background-color: var(--red-bg);
                border-radius: 2px 2px 0px 0px;
                margin-bottom: 16px;
            }

            .hidden-link{
                margin: 5px 16px;
                border-radius: 5px;
            }
                .hidden-link:hover{
                    background-color: var(--light-grey);
                }
                .hidden-link:hover > .hidden-link-text{
                    color: var(--white-bg);
                }

                .hidden-link-text{
                    display: inline-block;
                    padding: 10px 16px;
                    width: 100%;
                    color: var(--grey);
                    font-size: 13px;
                    font-family: Arial, Helvetica, sans-serif;
                }


.language{
    height: 40px;
    line-height: 40px;
}

    .lang{
        justify-content: space-between;
        padding: 0 0 0 20px;
    }
        .lang:hover > .lang-text{
            color: var(--black-bg);
        }

        .lang-text{
            text-transform: uppercase;
            color: var(--grey);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: bold;
        }

        .check{
            width: 14px;
            height: 12px;
            background-image: url();
            margin-right: 15px;
        }


.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--cover-bg);
    cursor: default;
}

.i32-btn{
    width: 32px;
    height: 32px;
    border-radius: 10px;
}   

    #globe-btn{
        margin-right: 16px;
    }
    #w-close, #menu-btn{
        background-color: var(--dark-grey);
    }    
    #menu-btn{
        display: none;
    }
        #globe-btn:hover, #w-close:hover, #menu-btn:hover{ 
            animation: blink 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
        #menu-btn:hover{
            animation: blink 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

.i32-bg{
    width: 16px;
    height: 16px;
    position: relative;
    top: 8px;
    left: 8px;
}

    #menu-icon{
        width: 18px;
        height: 12px;
        top: 18px;
        left: 15px;
        background-image: url("./riot/svg/menu.svg");
    }
    #globe-bg{
        background-image: url("./riot/svg/globe.svg");
    }
    #b-close-bg{
        background-image: url("./riot/svg/closeBlack.svg");
    }
    #w-close-bg{
        background-image: url("./riot/svg/close.svg");
    }


.signin{
    background-color: var(--red-bg);
    padding: 0.6rem 1.4rem;
    border-radius: 1.6rem;
    color: var(--white-bg);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: .08rem;
}









#nav{
    width: 100vw;
    position: fixed;
    justify-content: center;
}
    #nav.sticky{
        background-color: var(--black-bg);
        transition: background-color .5s ease-in-out;
    }
#nav-wrapper{
    max-width: 1800px;
    width: 100vw;
    padding-inline: auto;
    height: 80px;
    background-color: transparent;   
    justify-content: space-between;
    padding: 0 32px;
}


#left-menu{
    position: absolute;
    min-height: 320px;
    height: max-content;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
}
    #left-menu.hidden{
        display: none;
    }
    #left-menu.visible{
        display: block;
    }
    #polygon{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--white-bg);
        animation: polygon .5s forwards linear;
    }
    #left-menu-wrapper{
        width: 100%;
        padding: 0px 32px;
        animation: opacity 2s forwards linear;
    }
        #left-menu-top{                
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 80px;
            z-index: 6;
            background-color: var(--white-bg);
            justify-content: center;
        }
            #left-menu-top-wrapper{
                width: 100vw;
                max-width: 1800px;
                padding-inline: 32px;
                background-color: var(--white-bg);
                justify-content: space-between;
            }
            

        #left-menu-bot{
            align-items: flex-start;
            justify-content: center;
            margin-top: 80px;
            gap: 16px;
            padding-bottom: 50px;
        }
        #left-menu-bot1, #left-menu-bot2{
            max-width: 900px;
            width: 100%;
        }
        #left-menu-bot1{
            columns: 13.2em 3;
            column-gap: 10px;
        }
            .ban-links{
                width: 100%;
                break-inside: avoid;
                padding-bottom: 16px;
            }

            .ban-link{
                width: 100%;
                font-size: 13px;
                line-height: 120%;
                letter-spacing: .08em;
                text-transform: uppercase;
                margin-block: 4px;
                border-radius: 8px;
            }
            .ban-link:hover{
                background-color: var(--grey);
            }
                .ban-link.main{
                    background-color: var(--very-light-grey);
                } 
                .ban-link.main > .ban-text{
                    font-weight: 900;
                }
                .ban-link.main > .link-img{
                    display: none;
                    width: 10px;
                    margin-right: 10px;
                }
                .ban-link.main:hover > .link-img{
                    transform: rotate(0deg);
                    transition: transform .5s linear;
                }

            .ban-text{
                display: inline-block;
                justify-content: space-between;
                width: 100%;
                padding: 10px 16px;
                font-family: Arial, Helvetica, sans-serif;
                color: var(--light-grey);
            }

        
        #left-menu-bot2{
            gap: 16px;
            align-items: flex-start;
        }
            #ban-main{
                width: 100%;
                height: 200px;
                gap: 10px;
            }   
                .main-card{
                    width: 50%;
                    height: 100%;
                }

                .m-c-img > img{
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
                }
                .m-c-img > img:hover{
                    box-shadow: 5px 10px 10px var(--light-grey);
                }

                .m-c-text{
                    color: var(--black-bg);
                    margin-top: 16px;
                    width: 100%;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    font-weight: 300px;
                    text-align: left;
                    line-height: 15.6px;
                }
        #cards-1-5, #cards-6-10, #cards-11-12, #cards-13-15, #cards-16-19{
            display: none;
        }
            .card{
                display: none;
                position: relative;
                height: clamp(200px, 20vw, 370px);
                width: 100%;
                border-radius: 8px;
                box-shadow: 5px 10px 10px var(--light-grey);
            }
                .card-img{
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: auto;
                    max-width: 100%;
                    object-fit: cover;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
                #card-1 > .card-bg, #ccard-1 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(80, 104, 125) 0%, rgb(10, 10, 10) 70%);
                }
                #card-2 > .card-bg,#ccard-2 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(197, 177, 116) 0%, rgb(10, 10, 10) 70%);
                }
                #card-3 > .card-bg,#ccard-3 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(139, 121, 229) 0%, rgb(10, 10, 10) 70%);
                }
                #card-4 > .card-bg,#ccard-4 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(193, 154, 87) 0%, rgb(10, 10, 10) 70%);
                }
                #card-5 > .card-bg,#ccard-5 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(160, 193, 236) 0%, rgb(10, 10, 10) 70%);
                }
                #card-6 > .card-bg,#ccard-6 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(172, 76, 84) 0%, rgb(10, 10, 10) 70%);
                }
                #card-7 > .card-bg,#ccard-7 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(116, 193, 175) 0%, rgb(10, 10, 10) 70%);
                }
                #card-8 > .card-bg,#ccard-8 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(173, 110, 137) 0%, rgb(10, 10, 10) 70%);
                }
                #card-9 > .card-bg,#ccard-9 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(66, 88, 166) 0%, rgb(10, 10, 10) 70%);
                }
                #card-10 > .card-bg,#ccard-10 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(48, 76, 64) 0%, rgb(10, 10, 10) 70%);
                }
                #card-11 > .card-bg,#ccard-11 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(90, 190, 205) 0%, rgb(10, 10, 10) 70%);
                }
                #card-12 > .card-bg,#ccard-12 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(147, 34, 28) 0%, rgb(10, 10, 10) 70%);
                }
                #card-13 > .card-bg,#ccard-13 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(43, 61, 109) 0%, rgb(10, 10, 10) 70%);
                }                
                #card-14 > .card-bg,#ccard-14 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(35, 83, 87) 0%, rgb(10, 10, 10) 70%);
                }                
                #card-15 > .card-bg,#ccard-15 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(121, 49, 123) 0%, rgb(10, 10, 10) 70%);
                }                
                #card-16 > .card-bg,#ccard-16 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(212, 190, 179) 0%, rgb(10, 10, 10) 70%);
                }
                #card-17 > .card-bg,#ccard-17 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(0, 61, 90) 0%, rgb(10, 10, 10) 70%);
                }
                #card-18 > .card-bg,#ccard-18 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(252, 63, 67) 0%, rgb(10, 10, 10) 70%);
                }
                #card-19 > .card-bg,#ccard-19 > .card-bg{
                    background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(234, 0, 40) 0%, rgb(10, 10, 10) 70%);
                }
                .card-bg{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 60%;
                    height: 100%;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    text-align: center;
                    clip-path: polygon(77% 0, 63% 90%, 100% 100%, 100% 101%, 0% 101%, 0% 0%);
                }
                    .card-content{
                        justify-content: center;
                        gap: 20px;
                        height: 100%;
                        width: 76%;
                    }
                        .card-content-logo{
                            width: 65%;
                        }
                            .card-content-logo > img{
                                width: 100%;
                                height: auto;
                            }
                            .card-content-logo > h1{
                                font-size: calc(120.5% + 0.8vw);
                                letter-spacing: -0.02em;
                                text-transform: uppercase;
                                color: var(--white-bg);
                                line-height: 90%;
                                font-weight: 600;
                            }
                        .card-content-des{
                            text-align: center;
                            text-transform: uppercase;
                            width: 60%;
                        }
                            .card-content-des > p{
                                color: var(--white-bg);
                                line-height: 120%;
                                font-size: calc(40.5% + 0.4vw);;
                            }
                        .card-content-devices{
                            height: 11%;
                            width: auto;
                            border-radius: 16px;
                            background-color: var(--opaque-1);
                            padding: 10px 15px;
                            gap: 10px;
                        }
                            .device{
                                width: 12px;
                                height: 12px;
                                gap: 5px;
                            }
                            #d-windows{
                                background-image: url("./riot/windows.svg");
                            }
                            #d-apple{
                                background-image: url("./riot/apple.svg");
                            }
                            #d-mobile{
                                background-image: url("./riot/mobile.svg");
                            }
                            #d-xbox{
                                background-image: url("./riot/xbox.svg");
                            }
                            #d-ps{
                                background-image: url("./riot/playstation.svg");
                            }
                            #d-nintendo{
                                background-image: url("./riot/nintendo.svg");
                            }

            

/* Explore Uncharted Realms Of The Dragonlands In TFT's Latest Mid-Set! }} There's No Stopping Now - VALORANT Is Kicking Off DIMENSION // ACT II-You In? */
#left-menu-cover{
    z-index: 4;
}   
    #left-menu-cover.hidden{
        display: none;
    }
    #left-menu-cover{
        display: block;
    }


#nav-links-wrapper{
    padding-left: 20px;
}
    #nav-links{
        gap: 10px;
        padding-left: 32px;
        height: 80px;
    }
        #nav-links > .links:hover > .hidden-links{
            display: block;
        }



#languages-wrapper{
    position: absolute;
    top: 80px;
    right: 230px;
    background-color: var(--white-bg);
    width: 240px;
    height: 360px;
    z-index: 1;
}
    #languages-wrapper.hidden{
        display: none;
    }
    #languages-wrapper.visible{
        display: block;
    }
    #up-space{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: calc(2 * 10px * 0.866) solid #fcfcfc;
        border-top: 10px solid transparent;
        position: absolute;
        top: -27px;
        right: 110px;
    }
    #languages{
        max-height: 360px;
        padding: 8px 0 8px 8px;
        border-radius: 2px;
        overflow-y: auto;
    }
        #theone > .lang-text{
            color: var(--red-bg);
        }
        #theone > .check{
            background-image: url("./riot/svg/done.svg");
        }


#nav-search-container{
    margin-right: 5px;
}
    .search{
        padding: 0.3rem 1.4rem;
        border-radius: 1.6rem;
        box-shadow: inset 0 0 0 .5px var(--white-bg);
    }
        .search:hover{
            box-shadow: none;
            animation: blink 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
        .search-input{
            background-color: transparent;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: var(--white-bg);
            margin-right: 10px;
            padding: 5.9px;
            outline: 0;
            border: hidden;
            width: 110px;
        }
        .search-icon{
            display: inline-block;
            padding: 10px;
            background-image: url("./riot/svg/search.svg");
        }



#menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 484px;
    min-height: 100vh;
    background-color: var(--black-bg);
    overflow: scroll;
    z-index: 3;
    padding: 16px 32px;
    cursor: default;
}
    #menu::-webkit-scrollbar{
        width: 0;
    }
    #menu.visible{
        animation: fadeRightin 300ms;
        animation-fill-mode: both;
    }
    #menu.hidden{
        display: none;
        transform: translateX(40%, 0, 0);
    }
    #menu-top{
        justify-content: space-between;
    }
    #menu-mid{
        padding-block: 26px;
        gap: 16px;
    } 
        #menu-links{
            width: 100%;
            gap: 10px;
        }
        #menu-links > .links{
            width: 100%;
            padding-block: 0px 5px;
        }
        #menu-links > .links > .link{
            width: 100%;
        }
        #menu-links > .links > .hidden-links > .banner{
            display: none;
        }
        #menu-links > .links > .hidden-links{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            background-color: transparent;
            box-shadow: none;
        }            
            #menu-links > .links > .hidden-links.hidden{
                display: none;
            }
            #menu-links > .links > .hidden-links.visible{
                display: block;
            }
            #menu-links > .links > .hidden-links > .hidden-link{
                margin: 5px 0px;
            }
        #menu-signin-btn{
            display: inline-block;
            width: 100%;
            text-align: center;
            padding-block: 16px;
        }



#menu-cover{
    z-index: 2;
}
    #menu-cover.visible , #menu.visible{
        display: block;
    }
    #menu-cover.hidden , #menu.hidden{
        visibility: hidden;
    }












/* MAIN*/
#content{

}

#landing{
    width: 100vw;
    height: calc(100vh - 120px);
    min-height: 600px;
    max-height: 900px;
}

#landing-wrapper{
    width: 100%;
    height: 100%;
    background-image: url("./riot/hero2-large.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


/* ---------------- TABLATE QUERY ------------------ */

@media (max-width: 1030px) {
    #left-menu{
        max-width: 484px;
        max-height: 100vh;
        overflow-y: scroll;
    }
    #left-menu::-webkit-scrollbar{
        width: 0px;
    }
    #left-menu-wrapper{
        background-color: var(--white-bg);
    }
    #left-menu-top{
        width: min(484px, 100vw);
        box-shadow: 0px 0px 16px 0px var(--grey);
    }
    #left-menu-bot{
        margin-top: 100px;
        flex-direction: column;
    } 
        .ban-links{
            padding: 0;
        }
            .ban-link.main > .link-img{
                display: block;
            }
            .ban-link.main > .ban-text{
                display: block;
            }
            .ban-text{
                display: none;
                padding: 16px;
            }

            #ban-main{
                flex-direction: column;
                height: max-content;
            }
                .main-card{
                    width: 100%;
                    gap: 10px;
                }
            .cards{
                width: 100%;
                gap: 10px;
                margin-block: 10px;
            }
            #cards-1-5.hidden, #cards-6-10.hidden, #cards-11-12.hidden, #cards-13-15.hidden, #cards-16-19.hidden{
                display: none;
            }
            #cards-1-5.visible, #cards-6-10.visible, #cards-11-12.visible, #cards-13-15.visible, #cards-16-19.visible{
                display: flex;
            }
            .card{
                display: block;
            }
            #card-1 ,#card-2 ,#card-3 ,#card-4 ,#card-5 ,#card-6 ,#card-7 ,#card-8 ,#card-9 ,#card-10 ,#card-11 ,#card-12 ,#card-13 ,#card-14 ,#card-15 ,#card-16 ,#card-17 ,#card-18 ,#card-19{
                display: none;
            }

    #nav-links, #nav-search-container, #nav-signin{
        display: none;
    }
        .logo-1{
            width: 100px;
            height: 40px;
        }
        .icon{
            height: 40px;
            width: 40px; 
        }
            .i32-btn{
                width: 48px;
                height: 48px;
                border-radius: 15px;
            }
            .i32-bg{
                width: 24px;
                height: 24px;
                top: 12px;
                left: 12px;
            }
    #languages-wrapper{
        right: 32px;
    }
        #up-space{
            right: 78px;
        }
    #menu-btn{
        display: block;
    }
}

/* --------------- SMALL DEVICES QUERY ---------*/
@media (max-width: 484px) {
    #menu{
        width: 100vw;
    }
    #menu-search{
        margin-inline: 0;
    }
    #nav-search{
        justify-content: flex-start;
        width: 184px;
    }

    .card{
        height: 40vw;
    }
}

/* --------------- VERY SMALL DEVICES QUERY ---------*/

@media (max-width: 375px) {
    #nav{
        padding: 0 16px;
    }
    #left-menu-top{
        padding: 0 16px;
    }
    #nav-icon{
        display: none;
    }
    #globe-btn {
        margin-right: 8px;
    }
    #languages-wrapper{
        right: 16px;
    }
        #up-space{
            right: 70px;
        }
}